{% extends 'Login_App/base.html' %}
{% block title %}Register User{% endblock title %}
{% block Login_App %}
    <div class="row justify-content-center">
        <div class="col-7">
            <div class="card p-4">
                <div class="card-header bg-dark text-light mb-4">
                    <h2>{{heading}}</h2>
                </div>
                <form action="{% url 'Login_App:login_user' %}" method="POST" enctype="multipart/form">
                    {% csrf_token %}
                    <label for="username">Username</label>
                    <input type="text" class="form-control mb-2" name="username" id="username">
                    <label for="password">Password</label>
                    <input type="password" class="form-control mb-3" name="password" id="password">
                    <input type="submit" class="btn btn-info" value="Login">
                </form>
            </div>
        </div>
    </div>
{% endblock  %}